

.DS_Store
.DS_Store
.qlty/cache
.qlty/cache
.qlty/logs
.qlty/logs
.qlty/out
.qlty/out
.qlty/plugin_cachedir
.qlty/plugin_cachedir
.qlty/results
.qlty/results
*.tsbuildinfo
*.tsbuildinfo
coverage
coverage
dist
dist
node_modules
node_modules
