---
title: Get free Education plan
noIndex: false
noContent: false
---

Deepnote is built from the bottom up to help people work together. Educational institutions around the globe use Deepnote to teach data science and foster collaboration between both students and instructors.

The free Education plan provides even more collaboration options, giving users access to all Deepnote features and the ability to invite an unlimited number of educators and students.

## How does verification of the Education plan work?

There are three ways to verify your Education plan:

### 1.) Sign up with your school email

When signing up to Deepnote for the first time, enter your valid school email address. A link will be sent to you from Deepnote asking you to verify your email address. Once you verify your email, you can create your first Deepnote workspace and access all your free benefits.<br/><br/>

![EDU_verification_email.png](https://media.graphassets.com/1GNGPwOOSUeL7WIC3PXG)

### 2.) Sign up with GitHub Student Developer Pack

You can access Deepnote’s free Education plan by signing up with your GitHub account and accessing your GitHub Student Developer Pack. We’ll automatically verify your eligibility and link your GitHub account to your Deepnote account. Visit the GitHub Student Developer Pack to learn more.<br/><br/>
![EDU_Github_signup.png](https://media.graphassets.com/3AFRhxYRCbbdWKoh4twO)

<Callout status="info">
 Sign up using your [GitHub Student account!](https://deepnote.com/github-student-pack)
</Callout>

### 3.) Verify your Education plan directly in the app

If you already signed up using your personal or private email address, you can still get your free Education plan directly in the Deepnote app. Go to **Settings** -> **Upgrade** -> **Education plan** <br/><br/>

![In_app_EDU_verification.png](https://media.graphassets.com/2mhOb7BpSMuT9rQy9Zwx)

## FAQs:

#### Am I eligible for Deepnote's free Education plan?

You’re eligible if:

- You’re a student or educator at an accredited college, university, or K-12.
- You're part of another educational institution, MOOC, or NGO.
- You have a school email address (we don’t accept student IDs or other documentation for verification).

You’re not eligible if:

- Your Deepnote account is associated with a personal email address, such as a Gmail or Outlook address.

<Callout status="info">
**Deepnote's free Education plan** is available to all students, teachers, and researchers with access to their school email addresses. But we want to help all seekers of data science knowledge and individuals looking to do social good.

Are you part of another community, MOOC, NGO, or learning institution and don't have a school email? You might still qualify for the free Education plan. [Get in touch with us!](mailto:help@deepnote.com)
</Callout>

#### What should I do if I can't verify my email address?

If your school email address has not been verified automatically, and you believe you're eligible for Deepnote's free Education plan, please get in touch with us at help@deepnote.com. We'll verify your request manually.

#### What should I do if I haven't received an automatic verification email?

If you haven't received your verification email, please check your spam folder and wait a moment. It might take up to 15 minutes to receive your confirmation email. After 15 minutes, please request us to resend it.

#### How long does it take to verify my free Education plan manually?

If your school email address is not automatically recognized and you decide to contact us directly at help@deepnote.com, it might take a couple of days to complete your verification.
